---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2> <a id="academic"></a>Academic Talks</h2>
Jump to <a href="#outreach">Public Outreach</a>

{% for post in site.talks reversed %}
	{% if post.tag == 'academic' %} 
		{% include archive-single-talk.html %}
	{% endif %}
{% endfor %}

<br>
<hr style="border-top: 8px solid #bbb; border-radius: 5px"> 

<h2> <a id="outreach"></a>Public Outreach Talks</h2>
Jump back to <a href="#academic">Academic Talks</a>

{% for post in site.talks reversed %}
	{% if post.tag == 'public' %} 
		{% include archive-single-talk.html %}
	{% endif %}
{% endfor %}
